<footer class="site-footer">
    <div class="site-footer-content">
        <p class="site-footer-copyright">
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
        </p>
        <p class="site-footer-powered">
            Powered by <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </p>
    </div>
</footer>
